@import url("https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300;400;500;600;700&family=Playfair+Display:wght@700&family=Roboto:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Hind Vadodara";
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

header {
    background: url("../img/Vector.svg") no-repeat;
    background-position: top 0 right 0;
    padding: 30px 0 148px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px;
}

.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.nav-list li a {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #331b3b;
}

.nav-list li:first-child a {
    font-weight: 600;
    position: relative;
}

.nav-list li:first-child a::after {
    content: "";
    position: absolute;
    width: 21px;
    height: 2px;
    background: #fdc221;
    bottom: 0;
    left: 0;
}

.nav-logo {
    font-family: "Playfair Display";
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: #331b3b;
}

.nav-social {
    display: flex;
}

.social-item {
    cursor: pointer;
}

.header-main {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
}

.main-title {
    margin-top: 100px;
    font-weight: 300;
    font-size: 87px;
    line-height: 99.8%;
    letter-spacing: -0.01em;
    color: #331b3b;
    max-width: 498px;
    position: relative;
}

.main-title span {
    font-weight: 700;
}

.main-title::after {
    content: "";
    position: absolute;
    width: 291px;
    height: 20px;
    background: #fdc221;
    left: 0;
    bottom: 6px;
    z-index: -1;
}

.main-subtitle {
    margin-top: 27px;
    font-weight: 400;
    font-size: 17px;
    line-height: 146.3%;
    letter-spacing: 0.02em;
    max-width: 515px;
    color: rgba(51, 27, 59, 1);
}

.btn {
    padding: 22px 49px;
    background: #331b3b;
    border-radius: 10px;
    border: none;
    font-weight: 700;
    font-size: 17px;
    line-height: 137.3%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #ffffff;
    cursor: pointer;
}

.main-btn {
    margin-top: 31px;
}

.do {
    padding-bottom: 150px;
    overflow: hidden;
}

.do-bg {
    background: #ecf7ff;
    border-radius: 0px 400px 0px 0px;
    margin-right: 107px;
    padding: 92px 0 97px 0;
    position: relative;
}

.title {
    font-weight: 300;
    font-size: 48px;
    line-height: 106.3%;
    text-align: center;
    letter-spacing: -0.01em;
    color: #331b3b;
    position: relative;
    z-index: 0;
}

.title span {
    font-weight: 700;
}

.title::after {
    content: "";
    position: absolute;
    width: 159px;
    height: 10px;
    bottom: 3px;
    right: 5px;
    background: #fdc221;
    z-index: -1;
}

.do-title {
    max-width: 348px;
    margin-left: 526px;
}

.do-carusel {
    margin: 95px 0 0 265px;
}

.do-item {
    background: #ffffff;
    box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 18px 19px;
}

.card-img {
    background: #ffded4;
    border-radius: 10px;
    width: 52px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.owl-carousel .owl-item img {
    width: unset;
}

.card-name {
    margin-top: 13px;
    font-weight: 700;
    font-size: 16px;
    line-height: 137.3%;
    letter-spacing: 0.055em;
    text-transform: uppercase;
    color: #331b3b;
}

.card-descr {
    font-weight: 300;
    font-size: 15px;
    line-height: 145.3%;
    letter-spacing: 0.02em;
    color: rgba(51, 27, 59, 0.66);
    max-width: 275px;
}

.owl-nav {
    position: absolute;
    left: -125px;
    bottom: 0;
}

.owl-prev,
.owl-next {
    display: block;
    width: 35px;
    height: 34px;
    border: 2px solid #000000 !important;
    border-radius: 50% !important;
    margin: 0 7.5px 0 0 !important;
    background: url("../img/arrow.svg") no-repeat center !important;
}

.owl-prev {
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.owl-next {
    border: 2px solid #000000 !important;
    margin: 0 0 0 7.5px !important;
}

.owl-prev.disabled {
    opacity: 0.33 !important;
}

.decor-img {
    position: absolute;
    right: -161px;
    bottom: -74px;
    z-index: -1;
}

.about {
    margin-bottom: 110px;
}

.about-wrap {
    display: flex;
    justify-content: space-between;
    margin: 0 60px;
    gap: 80px;
}

.about-right {
    margin-top: 100px;
}

.about-title {
    text-align: left;
    max-width: 238px;
}

.about-text {
    margin-top: 22px;
    font-family: "Hind Vadodara";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 146.3%;
    letter-spacing: 0.02em;
    color: rgba(51, 27, 59, 0.66);
}

.text-down {
    margin-top: 9px;
}

.about-btn {
    margin-top: 37px;
}

.work {
    padding-bottom: 75px;
    overflow: hidden;
    position: relative;
}

.work-bg {
    padding: 42px 0 84px;
    background: rgba(255, 222, 212, 0.3);
    border-radius: 400px 0px 0px 0px;
    margin-left: 174px;
}

.work-text {
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0px;
    margin: 0 auto;
    width: 80%;
}
.work-title {
    text-align: left;
    margin-top: 42px;
}

.work-title::after {
    width: 150px;
    right: 73px;
}

#carusel2 {
    margin-top: 224px;
    margin-left: 94px;
}

.work-descr {
    margin-top: 53px;
    font-weight: 400;
    font-size: 17px;
    line-height: 146.3%;
    letter-spacing: 0.02em;
    color: #331b3b;
    max-width: 515px;
}

.work-item {
    padding: 24px 14px 35px;
    background: #ffffff;
    box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}

.work-img {
    display: flex;
    gap: 17px;
}

.work-img img {
    filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.25));
}

.work-descr {
    margin-top: 33px;
    margin-left: 16px;
    margin-right: 9px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.work-name {
    font-weight: 700;
    font-size: 24px;
    line-height: 146.3%;
    color: #331b3b;
}

.work_btn {
    cursor: pointer;
    padding: 2px 12px 1px;
    border: 1px solid #343434;
    border-radius: 100px;
    font-weight: 500;
    font-size: 14px;
    line-height: 146.3%;
    color: #331b3b;
}

#carusel2 > .owl-nav {
    bottom: -52px;
    left: -76px;
}

.clients {
    margin-bottom: 92px;
}

.clients-title {
    max-width: 560px;
    margin: 0 auto;
}

.clients-title::after {
    width: 118px;
}

.clients-wrap {
    display: flex;
    justify-content: space-between;
    margin: 60px 194px 0 241px;
    gap: 69px;
}

.clients-item {
    background: #ffffff;
    box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.08);
    padding: 24px 35px 39px 29px;
}

.clients-text {
    margin-top: 18px;
    font-weight: 400;
    font-size: 16px;
    line-height: 159.3%;
    letter-spacing: 0.02em;
    color: #331b3b;
}

.clients-name {
    margin-top: 14px;
    font-weight: 600;
    font-size: 16px;
    line-height: 159.3%;
    letter-spacing: 0.02em;
    color: #000000;
    margin-left: 18.5px;
    position: relative;
}

.clients-name::before {
    content: "";
    position: absolute;
    width: 11px;
    height: 3px;
    background: #fdc221;
    top: 50%;
    transform: translateY(-50%);
    left: -18.5px;
}

footer {
    padding-bottom: 76px;
    background: #000000;
    border-radius: 0px 158px 0px 0px;
}

.footer-wrap {
    display: flex;
    justify-content: space-between;
    margin: 0 152px 0 51px;
}

.footer-left {
    margin-top: 66px;
}

.footer-logo {
    font-family: "Playfair Display";
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.01em;
    color: #ffffff;
}

.footer-text {
    margin-top: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 159.3%;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 439px;
}

form {
    margin-top: 23px;
}

label {
    font-weight: 600;
    font-size: 16px;
    line-height: 159.3%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #ffffff;
}

.send {
    margin-top: 15px;
}

::placeholder {
    color: #ffffff;
}

.send input {
    border: 1px solid #ffffff;
    background: transparent;
    padding: 13px 13px 14px;
    font-weight: 400;
    font-size: 16px;
    line-height: 159.3%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #ffffff;
    float: left;
}

.send button {
    background: #ffffff;
    border: 1px solid #ffffff;
    padding: 14px 50px 13px;
    float: left;
    font-weight: 600;
    font-size: 16px;
    line-height: 159.3%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #000000;
}

.footer_right {
    margin-top: 77px;
    position: relative;
}

.footer-label {
    position: absolute;
    top: 26px;
    left: 32px;
    background: #ffffff;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    width: 197px;
    height: 84px;
    padding: 7px 10px 9px;
}

.footer-label p {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 134.8%;
    color: #414141;
}

.footer-label p span {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 16px;
    line-height: 134.8%;
    color: #414141;
}

#largerMapLink {
    margin-top: -5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 159.3%;
    color: #51a0dc;
}

#map {
    height: 300px;
    width: 484px;
}

.hide {
    width: 30px;
    height: 30px;
    display: none;
}

@media (max-width: 1400px) {
    .main-right img {
        object-fit: cover;
        width: 100%;
    }
    .main-title {
        font-size: 75px;
        line-height: 100.8%;
    }
    .main-title::after {
        height: 10px;
    }
    .do-title {
        margin-left: 440px;
    }
    .about-left img {
        object-fit: cover;
        width: 100%;
    }
    .about-right {
        max-width: 515px;
    }
    .about-wrap {
        align-items: center;
    }
}

@media (max-width: 1200px) {
    .header-main {
        align-items: center;
    }
    .main-right {
        width: 521px;
    }
    .do-title {
        margin-left: 312px;
    }
    .do {
        padding-bottom: 74px;
    }
    .about-right {
        max-width: 422px;
    }
    .work-text {
        width: 98%;
    }
    #carusel2 {
        margin-top: 173px;
    }
    .clients-wrap {
        margin: 60px 100px 0;
    }
    .footer-wrap {
        margin: 0 50px 0 39px;
    }
    #map {
        height: 281px;
        width: 425px;
    }
}

@media (max-width: 992px) {
    .menu-btn {
        width: 30px;
        height: 30px;
        position: relative;
        z-index: 2;
        overflow: hidden;
    }
    .menu-btn span {
        width: 30px;
        height: 2px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #222222;
        transition: all 0.5s;
    }
    .menu-btn span:nth-of-type(2) {
        top: calc(50% - 5px);
    }
    .menu-btn span:nth-of-type(3) {
        top: calc(50% + 5px);
    }
    .hide.active {
        display: block;
    }
    .nav-list {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 15px;
        background: #ffefba;
        transform: translateX(-100%);
        transition: transform 0.5s;
        z-index: 1;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .nav-list.active {
        transform: translateX(0);
    }
    .menu-btn.active {
        position: fixed;
        right: 51px;
        top: 50px;
    }
    .menu-btn.active span:nth-of-type(1) {
        display: none;
    }
    .menu-btn.active span:nth-of-type(2) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(45deg);
    }
    .menu-btn.active span:nth-of-type(3) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(-45deg);
    }
    .main-title {
        font-size: 60px;
        line-height: 100.8%;
        margin-top: 48px;
    }
    .main-title::after {
        width: 210px;
    }
    .header-main {
        gap: 19px;
    }
    .main-subtitle {
        font-size: 16px;
        line-height: 144.3%;
    }
    .btn {
        padding: 20px 35px;
    }
    .do-title {
        margin-left: 71px;
    }
    .do-title::after {
        width: 168px;
        right: 0px;
        bottom: 0px;
    }
    .do-carusel {
        margin: 95px 0 0 166px;
    }
    .about-wrap {
        margin: 0px 30px;
        gap: 38px;
    }
    .about-right {
        max-width: 340px;
    }
    .about-text {
        font-size: 16px;
    }
    .work-bg {
        margin-left: 100px;
    }
    .work-descr {
        max-width: 300px;
    }
    .about-title::after {
        width: 78px;
        right: 3px;
    }
    .work-title {
        font-size: 42px;
    }
    .work-title::after {
        width: 134px;
        right: 62px;
        bottom: 27px;
    }
    .clients-wrap {
        margin: 60px 30px 0;
    }
    .footer-wrap {
        flex-wrap: wrap;  
    }
    .footer-left {
        max-width: 335px;
    }
}
