@import url("https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300;400;500;600;700&family=Playfair+Display:wght@700&family=Roboto:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Hind Vadodara";
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

header {
    background: url("../img/Vector.svg") no-repeat;
    background-position: top 0 right 0;
    padding: 30px 0 148px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px;
}

.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.nav-list li a {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #331b3b;
}

.nav-list li:first-child a {
    font-weight: 600;
    position: relative;
}

.nav-list li:first-child a::after {
    content: "";
    position: absolute;
    width: 21px;
    height: 2px;
    background: #fdc221;
    bottom: 0;
    left: 0;
}

.nav-logo {
    font-family: "Playfair Display";
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: #331b3b;
}

.nav-social {
    display: flex;
}

.social-item {
    cursor: pointer;
}

.header-main {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
}

.main-title {
    margin-top: 100px;
    font-weight: 300;
    font-size: 87px;
    line-height: 99.8%;
    letter-spacing: -0.01em;
    color: #331b3b;
    max-width: 498px;
    position: relative;
}

.main-title span {
    font-weight: 700;
}

.main-title::after {
    content: "";
    position: absolute;
    width: 291px;
    height: 20px;
    background: #fdc221;
    left: 0;
    bottom: 6px;
    z-index: -1;
}

.main-subtitle {
    margin-top: 27px;
    font-weight: 400;
    font-size: 17px;
    line-height: 146.3%;
    letter-spacing: 0.02em;
    max-width: 515px;
    color: rgba(51, 27, 59, 1);
}

.btn {
    padding: 22px 49px;
    background: #331b3b;
    border-radius: 10px;
    border: none;
    font-weight: 700;
    font-size: 17px;
    line-height: 137.3%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #ffffff;
    cursor: pointer;
}

.main-btn {
    margin-top: 31px;
}

.do {
    padding-bottom: 150px;
    overflow: hidden;
}

.do-bg {
    background: #ecf7ff;
    border-radius: 0px 400px 0px 0px;
    margin-right: 107px;
    padding: 92px 0 97px 0;
    position: relative;
}

.title {
    font-weight: 300;
    font-size: 48px;
    line-height: 106.3%;
    text-align: center;
    letter-spacing: -0.01em;
    color: #331b3b;
    position: relative;
    z-index: 0;
}

.title span {
    font-weight: 700;
}

.title::after {
    content: "";
    position: absolute;
    width: 159px;
    height: 10px;
    bottom: 3px;
    right: 5px;
    background: #fdc221;
    z-index: -1;
}

.do-title {
    max-width: 348px;
    margin-left: 526px;
}

.owl-carousel {
    margin: 95px 0 0 265px;
}

.item {
    background: #ffffff;
    box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 18px 19px;
}

.card-img {
    background: #ffded4;
    border-radius: 10px;
    width: 52px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.owl-carousel .owl-item img {
    width: unset;
}

.card-name {
    margin-top: 13px;
    font-weight: 700;
    font-size: 16px;
    line-height: 137.3%;
    letter-spacing: 0.055em;
    text-transform: uppercase;
    color: #331b3b;
}

.card-descr {
    font-weight: 300;
    font-size: 15px;
    line-height: 145.3%;
    letter-spacing: 0.02em;
    color: rgba(51, 27, 59, 0.66);
}

.owl-nav {
    position: absolute;
    left: -125px;
    bottom: 0;
}

.owl-prev,
.owl-next {
    display: block;
    width: 35px;
    height: 34px;
    border: 2px solid #000000 !important;
    border-radius: 50% !important;
    margin: 0 7.5px 0 0 !important;
    background: url("../img/arrow.svg") no-repeat center !important;
}

.owl-prev {
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.owl-next {
    border: 2px solid #000000 !important;
    margin: 0 0 0 7.5px !important;
}

.owl-prev.disabled {
    opacity: 0.33 !important;
}

.decor-img {
    position: absolute;
    right: -161px;
    bottom: -74px;
    z-index: -1;
}

.about {
    margin-bottom: 110px;
}

.about-wrap {
    display: flex;
    justify-content: space-between;
    margin: 0 60px;
    gap: 80px;
}

.about-right {
    margin-top: 100px;
}

.about-title {
    text-align: left;
    max-width: 238px;
}

.about-text {
    margin-top: 22px;
    font-family: "Hind Vadodara";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 146.3%;
    letter-spacing: 0.02em;
    color: rgba(51, 27, 59, 1s);
}

.text-down {
    margin-top: 9px;
}

.about-btn {
    margin-top: 37px;
}
